<div class="g-footer">
    <div class="m-footer">
        <div class="warp-footer clearfix">
            <div class="copyright">
                <p>
                    <a class="s-footer4" href="#">关于网易</a>
                    <span class="line">|</span>
                    <a class="s-footer4" href="#">客户服务</a>
                    <span class="line">|</span>
                    <a class="s-footer4" href="#">服务条款</a>
                    <span class="line">|</span>
                    <a class="s-footer4" href="#">网站导航</a>
                    <span class="line">|</span>
                    <a class="s-footer4" href="#">意见反馈</a>
                </p>
                <p class="s-footer3">
                    <span class="sep">网易公司版权所有©1997-2017</span>
                    杭州乐读科技有限公司运营：
                    <a href="#" class="s-footer3">浙网文[2015] 0415-135号</a>
                </p>
            </div>
            <ul class="enter clearfix">
                <li>
                    <a class="logo-footer logo-musician" href="#">&nbsp;</a>
                </li>
                <li>
                    <a class="logo-footer logo-special" href="#">&nbsp;</a>
                </li>
                <li>
                    <a class="logo-footer logo-media" href="#">&nbsp;</a>
                </li>
                <li>
                    <a class="logo-footer logo-reward" href="#">&nbsp;</a>
                </li>
            </ul>
        </div>
    </div>
</div>