<!DOCTYPE html>
<html lang="en" ng-app="mywork" ng-controller="mainController">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="shortcut icon" href="//s1.music.126.net/music.ico?v1" />
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- 引入bootstrap样式 -->
    <!-- <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"> -->
    <!-- 引入jquery -->
    <script src="/libs/jquery.js"></script>
    <script src="/libs/purl-master/purl.js"></script>

    <!-- bootstrap核心文件 -->
    <!-- <script src="/libs/bootstrap/js/bootstrap.min.js"></script> -->
    <!-- 引入angular -->
    <script src="/libs/angular/angular.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/javascript.js"></script>
    <script src="/libs/layer/layer.js"></script>
    

</head>

<body>
    <% include header.ejs %>
        <div class="container">
            <%- body %>
        </div>
    <% include footer.ejs%>
</body>

</html>